nav{

	position: fixed, top;
	border-color: black;
	margin: 5px;
	background: #9074d7;
  
}

nav:hover{

	background: #ffeaaa;
	
}

.menu{

	position: relative, bottom;
	padding: 10px;
	
}

a{

	border-color: #edfeff;
	font-family: "Times New Roman", Times, Serif;
	display: inline-block;
	margin: 5px; 
	
}

.topHeader{

	border-color:#000000;
	font-family: "Courier New", monospace;
	padding: 15px;
	display: inline-block;
	position: relative, float, top;	

}

.NavMenuHeader{

	color:#8cd8d9;
	border-color:black;

}

.NavMenu{

	animation: forwards;
	animation-duration: 1s;
	display:inline-flexbox;
	background-color: #fc7d7f;
	border-color:black;	

}
