nav{

	posistion: fixed, top;
	border-color: black;
	margin: 5px;
	background: #9074d7;
  
}

nav: hover{

	background: #ffeaaa;
	
}

.menu{

	relative: bottom;
	padding: 10px;
	
}

a{

	border-color: #edfeff;
	border: "Times New Roman", Times, Serif;
	display: inline-block;
	margin: 5px; 
	
}

